<div class="container ikc-container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <form role="form" method="POST" action="/portal/import">
      	<div class="form-group">
           <label for="gameEntities">Código de la respuesta de Niantic</label>
           <textarea id="gameEntities" class="form-control" rows="20" name="gameEntities"></textarea>
        </div>
        <div class="form-group">
        	<input type="submit" class="btn btn-primary" />
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
